<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	{#
		- Feel free to change the contents of this file.
		- I've created it with some default stuff so that we don't forget to add them
			- SEO meta tags
			- Meta tags for social media: Twitter, FB/Open Graph, Google+
			- Favicon schieße
	#}
	{% include '_partials/head' %}
</head>

<body>

	{% include '_partials/header' %}

	<main id="content" role="main">
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
		{% endblock %}
	</main>

	{% include '_partials/header' %}

</body>
</html>
